@{
    ViewBag.Title = "Информация о системе";
}

<main aria-labelledby="title" style="background-color: #262323; color: #fff; padding: 20px;">
    <h2 id="title" style="color: #00cc66;">@ViewBag.Title.</h2>
    <h3 style="color: #00cc66;">
        Система предназначена для жителей многоквартирных домов и управляющих компаний.
        Взаимодействие между ними осуществляется путём мониторинга многоквартирных домов.
        Жители создают обращения с проблемами - управляющие компании работают с их обращениями.
    </h3>
    <p style="color: #fff;">Для доступа к функциям системы необходимо зарегистрироваться.</p>
</main>
