@{
    ViewBag.Title = "Контактная информация";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>

    <address>
        <strong>Адрес:</strong>
        Бульвар Гагарина, 37<br />
        г.Пермь, Российская Федерация<br />
    </address>

    <address>
        <strong>Номер телефона:</strong>
        +7-950-46-295-76
    </address>

    <address>
        <strong>Почта для ваших вопросов:</strong>   <a class="a" href="mailto:kostya.meckhonoshin@mail.ru">kostya.meckhonoshin@mail.ru</a><br />
    </address>
</main>

<style>
    a:link {
        color: blue;
        background-color: transparent;
        text-decoration: none;
    }
</style>